:root {
    --button_color: #1a1a1a;
    --button_bg: rgba(255, 255, 255, 0.2);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--button_width);
    border-radius: 8px;
    border: 2px solid var(--button_color);
    color: var(--button_color);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background: var(--button_bg);
    cursor: pointer;
    transition: border-color 0.25s;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  button:hover {
    transform: scale(1.2);
    border-color: #646cff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    letter-spacing: 4px;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
